<div class="card">
  <div>
    <small *ngIf="dbTrials != undefined" class="block bg-primary-500 p-2 border-round text-white" i18n>
      Student data from the online system has been loaded. Please select the academic and click the button below to
      reload.
    </small>
    <small *ngIf="dbTrials == undefined" class="block bg-red-500 p-2 border-round text-white">
      Student data from the online system has not been loaded yet. Please select the academic year and click the button
      below to continue
    </small>
  </div>
  <div class="shadow-1 border-round-sm m-2 p-2 flex gap-2 align-content-center">
    <div>
      <p-dropdown [(ngModel)]="selectedYear" [options]="getSchoolYears()" i18n-placeholder
                  optionLabel="name" placeholder="Select Academic Year" styleClass="w-full p-inputtext-sm"></p-dropdown>
    </div>
    <div>
      <p-button (click)="loadStudentAction()" [disabled]="selectedYear == undefined" [loading]="loadingStudentData"
                i18n-label label="Load Student Data" styleClass="p-button-sm"></p-button>
    </div>
    <div *ngIf="jsonRepoData?.trialLoadedAt">
      <span i18n>Student data was last loaded on: {{dbTrialLoadDate}}</span>
    </div>
  </div>
  <div class="py-2 lg:py-4">
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="records">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>Name</th>
          <th i18n>Reg. No</th>
          <th i18n>Class Level</th>
          <th i18n>Section</th>
          <th i18n>Amount</th>
          <th i18n>Action</th>
        </tr>
      </ng-template>
      <ng-template let-record pTemplate="body">
        <tr>
          <td>
            <p-dropdown
              (onChange)="dbTrialSelectAction($event, record)" [(ngModel)]="record.name"
              [editable]="true" [filter]="true" [options]="dbTrials" [virtualScrollItemSize]="20"
              [virtualScroll]="true" appendTo="body" optionLabel="student.name"
              styleClass="p-inputtext-sm"></p-dropdown>
          </td>
          <td>
            {{record.identifier}}
          </td>
          <td>
            <p-dropdown
              (onChange)="dbClassLevelSelectAction($event, record)" [editable]="true" [filter]="true"
              [ngModel]="record.classLevel" [options]="dbClassLevels"
              [pTooltip]="feeAmountForClassLevel(record)" appendTo="body" optionLabel="name"
              styleClass="p-inputtext-sm"></p-dropdown>
          </td>
          <td>
            {{record.section}}
          </td>
          <td>
            <input [(ngModel)]="record.money.amount" class="w-full p-inputtext-sm" pInputText type="text">
          </td>
          <td>
            <div class="flex gap-1">
              <p-button
                (click)="recordView(record)" [icon]="picon('eye')" i18n-pTooltip
                pTooltip="View" styleClass="p-button-sm p-button-rounded p-button-info" tooltipPosition="bottom"></p-button>
              <p-button
                (click)="dbUpdateRecords()" [icon]="picon('save')" i18n-pTooltip
                pTooltip="Save" styleClass="p-button-sm p-button-rounded" tooltipPosition="bottom"></p-button>
              <br>
              <p-button
                (click)="recordPrintReceipt(record)" [icon]="picon('print')" i18n-pTooltip
                pTooltip="Print" styleClass="p-button-sm p-button-rounded p-button-secondary" tooltipPosition="bottom"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="6">
            <div class="flex gap-1">
              <p-inputNumber #entryInput [max]="20" [min]="1" inputStyleClass="p-inputtext-sm"
                             styleClass="w-full"></p-inputNumber>
              <p-button (click)="addRecordEntry(entryInput.value ?? 1)" [icon]="picon('plus')"
                        i18n-pTooltip pTooltip="Add {{entryInput.value ?? 1}} student entries"
                        styleClass="p-button-sm p-button-icon"></p-button>
              <p-button (click)="recordsExportToExcel()" i18n-label label="Export to excel"
                        styleClass="p-button-sm p-button-icon"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="studentDetailsDialogVisible" [draggable]="false" [modal]="true" [resizable]="false"
  [style]="{ width: '50vw' }"
  header="Student Details" i18n-header>
  <p-table *ngIf="selectedRecordTrial"
           [value]="selectedRecordTrial.tuitionPaymentStatus.payments" dataKey="tuitionPaymentId"
           i18n-title
           selectionMode="multiple" title="Tuition Details">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-12 md:col-3 block">
          <span class="font-bold" i18n>Tuition amount</span>
          &nbsp;:&nbsp;
          <span>{{formatMoney(selectedRecordTrial.tuitionPaymentStatus.feeAmount)}}</span>
        </div>
        <div class="col-6 md:col-3 block">
          <span class="font-bold" i18n>Total Paid</span>
          &nbsp;:&nbsp;
          <span>{{tuitionPaymentsSumAsMoney(selectedRecordTrial.tuitionPaymentStatus.payments)}}</span>
        </div>
        <div class="col-6 md:col-3 block">
          <span class="font-bold" i18n>Total Owed</span>
          &nbsp;:&nbsp;
          <span>{{formatMoney(selectedRecordTrial.tuitionPaymentStatus.owed)}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th i18n>Date</th>
        <th i18n>Amount</th>
      </tr>
    </ng-template>
    <ng-template let-p pTemplate="body">
      <tr>
        <td>{{displayDate(p.paymentDate)}}</td>
        <td>{{formatMoney(p.money)}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>


<app-payment-receipt *ngIf="printReceipt" [print]="printReceipt"
                     [trialDetail]="selectedTrialDetail"></app-payment-receipt>
<p-dialog>

</p-dialog>
