<div class="block-content">
  <div class="ng-star-inserted">
    <div class="min-h-screen flex relative lg:static surface-ground">

      <app-application-nav-sidebar></app-application-nav-sidebar>

      <div class="min-h-screen flex flex-column relative flex-auto">
        <app-application-nav-header></app-application-nav-header>

        <div class="flex flex-column flex-auto">
          <div class="surface-section p-5 min-h-screen overflow-auto">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div><!----><!----></div>
