<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 mx-auto mt-4 lg:mt-8">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3" i18n>Welcome Back</div>
  </div>

  <form (submit)="loginAction()" [formGroup]="loginForm" class="grid formgrid">
    <div class="col-12 mb-2">
      <label class="block text-900 font-medium mb-2" for="username" i18n>Username / Email</label>
      <input class="w-full mb-3 p-inputtext-sm" formControlName="username" id="username" pInputText
             placeholder="Username"/>
    </div>
    <div class="col-12 mb-2">
      <label class="block text-900 font-medium mb-2" for="password" i18n>Password</label>
      <p-password
        [feedback]="false" [inputStyle]="{'width':'100%'}" [toggleMask]="true"
        formControlName="password" id="password" styleClass="p-input-text w-full p-inputtext-sm"></p-password>
    </div>

    <div class="col-12 mb-2">
      <button class="w-full p-button-sm" i18n-label label="Sign In" pButton type="submit"></button>
    </div>
  </form>
</div>
